
<div class="row">	

	<% @product.each do |p|%>
	<div class="col-md-3">
		<div>
			<%= p.title %>
		</div>
		<br />
		<div>
			<a rel="nofollow" target="_blank" href="<%= p.image %>"><img class="popup" src="<%= p.image %>" class="img-rounded" style="width: 220px; height: 220px;" data-toggle="tooltip"></a>
		</div>	
		<br />
		<div>
			Weight: <%= p.pack %> <%= p.unit %>
		</div>	
		<div>
			Price: <%= p.price %> &#8364;
		</div>				
	</div>
	<% end %>

</div>
