<div class="row">	

	<% @product.each do |p|%>
	<div class="col-md-3">
		<div>
			<strong><%= p.title %></strong>
		</div>
		<br />
		<div>
			<a rel="nofollow" target="_blank" href="<%= p.image %>"><img class="popup" src="<%= p.image %>" class="img-rounded" style="width: 220px; height: 220px;" data-toggle="tooltip"></a>
		</div>	
		<br />
		<div>
			<strong>Weight:</strong> <%= p.pack %>
		</div>	
		<div>
			<strong>Price:</strong> <%= p.price %> &#8364;
		</div>				
	</div>
	<% end %>

</div>
